<%- include('header', {pagetitle: 'Ételek'}) -%>

<div class ="container">
    <div class="row">
        <div class="col-12">
            <table class="table">
                <caption>Ételek listája</caption>

                <tr>
                    <td colspan="2" class="empty-cell unselectable"></td>

                    <td class="main-title">Ételek</td>
                    <td colspan="4" class="centered-button">
                        <a href="/food/add" class="btn btn-sm btn-secondary">Új étel hozzáadása</a>
                    </td>
                </tr>

                <tr>
                    <th class="empty-cell unselectable">

                    </th>
                    <th class="empty-cell unselectable">
                        &nbsp;
                    </th>
                    <th class="border-all-side">
                        Étel neve
                    </th>
                    <th class="border-all-side">
                        Elkészítési idő (perc)
                    </th>
                    <th class="border-all-side">
                        Elkészítési nehézség
                    </th>
                    <th class="border-all-side">
                        Költség
                    </th>
                    <th class="empty-cell unselectable">
                        &nbsp;
                    </th>
                </tr>
                <% foods.forEach(function(food){ %>
                    <tr>
                        <td class="empty-cell"><a href="/food/delete/<%= food._id%>" class ="delete-button"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red" class="bi bi-x-square" viewBox="0 0 16 16">

                                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>

                                </svg></a></td>
                        <td class="empty-cell">
                            <a href="/food/modify/<%= food._id%>">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-pencil-square" viewBox="0 0 16 16">

                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>

                                </svg>
                            </a>
                        </td>
                        <td class="border-all-side"><%= food.nev %></td>
                        <td class="border-all-side"><%= food.ido %></td>
                        <td class="border-all-side"><%= food.elk_neh %></td>
                        <td class="border-all-side"><%= food.ar %></td>
                        <td class="empty-cell">
                            <a href="/ingredient/<%= food._id%>">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-card-list" viewBox="0 0 16 16">
                                    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                                    <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                                </svg></a></td>
                    </tr>
                <% }); %>
            </table>
        </div>
    </div>
</div>

<%- include('footer') -%>