<%- include('header', {pagetitle: 'Hozzávalók'}) -%>

<div class ="container">
    <div class="row">
        <div class="col-12">
            <table class="table">
                <caption>Hozzávalók listája</caption>

                <tr>
                    <td colspan="2" class="empty-cell unselectable"></td>

                    <td class="main-title">Hozzávalók</td>
                    <td class="centered-button">
                        <a href="/ingredient/add/<%= food._id%>" class="btn btn-sm btn-secondary">Új hozzávaló felvétele</a>
                    </td>
                    <td class="modified-food-name"><b><%= food.nev%></b></td>
                </tr>

                <tr>
                    <th class="empty-cell unselectable">

                    </th>
                    <th class="empty-cell unselectable">
                        &nbsp;
                    </th>
                    <th class="border-all-side">
                        Hozzávaló neve
                    </th>
                    <th class="border-all-side amount">
                        Mennyiség
                    </th>
                    <th class="border-all-side unit">
                        Mértékegység
                    </th>
                </tr>

                <% ingredients.forEach(function(ingredient){ %>

                <tr>
                    <td class="empty-cell"><a href="/ingredient/delete/<%= food._id%>/<%= ingredient._id%>" class ="delete-button"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red" class="bi bi-x-square" viewBox="0 0 16 16">

                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>

                            </svg></a></td>
                    <td class="empty-cell">
                        <a href="/ingredient/modify/<%= food._id%>/<%= ingredient._id%>">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-pencil-square" viewBox="0 0 16 16">

                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>

                            </svg>
                        </a>
                    </td>
                    <td class="border-all-side"><%= ingredient.nev %></td>
                    <td class="border-all-side"><%= ingredient.menny %></td>
                    <td class="border-all-side"><%= ingredient.mert %></td>
                </tr>

                <% }); %>
                <tr>
                    <td class="empty-cell unselectable" colspan="4"></td>
                    <td class="centered-button  back-to-foods-button"><a href="/" class="btn btn-dark">Vissza az ételekhez</a></td>
                </tr>
            </table>

        </div>
    </div>
</div>
<%- include('footer') -%>